# Environment files
# (tracked to simplify IIS deployment configuration)


/google-spreadsheets-reader-chatgptbot009/node_modules/*

/google-spreadsheets-reader-chatgptbot009/spry-bus-452715-n1-8b83733aa94d.json

# Archivos grandes
*.zip
*.psd
*.tiff
*.mov
*.mp4
*.gguf
*.rar
